*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

@media only screen and (min-width: 960px){

.body-signin{
    background-size: cover;
    background-position: center;
    font-family: 'Lato', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    color: white;
    background-image: url(/assets/background.jpg);
    background-size: cover;
    background-position: center;
    
}

.body-signup{
    background-size: cover;
    background-position: center;
    font-family: 'Lato', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    color: white;
    background-image: url(/assets/background-signup.jpg);
    background-size: cover;
    background-position: center;
    
}


.container{
    width: 520px;
    padding: 40px;
    border-radius: 16px;
    background-color: #181A1CD6;
}

.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 160px;
    height: 45px;
    margin-bottom: 37px;
    margin-top: 37px;
}

.header h1{
    font-size: 32px;
    font-weight:700;
    line-height: 110%;
}

.header p{
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
    margin-bottom: 37px;
}

.form-input{
    display: flex;
    flex-direction: column;
    position: relative
}

.form-input .username{
    font-size: 18px;
    font-weight: 500;
    line-height: 140%;
    margin-bottom: 6px;
}

.form-input .input-username{
    width: 449px;
    height: 50px;
    font-size: 16px;
    font-weight: 500;
    line-height: 140%;
    border-radius: 24px;
    padding-top: 14px;
    padding-right: 20px;
    padding-bottom: 14px;
    padding-left: 20px;
    border: 0.58px solid;
    border-color: hsla(250, 81%, 94%, 0.217);
    background-color: transparent;
    color: white;   

} 

.form-input .form-password{
    margin-top: 37px;  
}

.form-input .password{
   font-size: 18px;
    font-weight: 500;
    line-height: 140%;
    margin-bottom: 6px;

}

.form-input .input-password{
    width: 449px;
    height: 50px;
    font-size: 16px;
    font-weight: 500;
    line-height: 140%;
    border-radius: 24px;
    padding-top: 14px;
    padding-right: 20px;
    padding-bottom: 14px;
    padding-left: 20px;
    border: 0.58px solid;
    border-color: hsla(250, 81%, 94%, 0.217);
    background-color: transparent;
    color: white;
    margin-top: 6px;


} 

.form-input .password-again{
   font-size: 18px;
    font-weight: 500;
    line-height: 140%;
    margin-bottom: 6px;

}

.form-input .input-password-again{
    width: 449px;
    height: 50px;
    font-size: 16px;
    font-weight: 500;
    line-height: 140%;
    border-radius: 24px;
    padding-top: 14px;
    padding-right: 20px;
    padding-bottom: 14px;
    padding-left: 20px;
    border: 0.58px solid;
    border-color: hsla(250, 81%, 94%, 0.217);
    background-color: transparent;
    color: white;
    margin-top: 6px;

    
} 
.eye-password{
    position: absolute;
    width: 20px;
    right: 10px;
    bottom: 13px;
    cursor: pointer;
}

.eye-password-again{
    position: absolute;
    width: 20px;
    right: 12px;
    bottom: 130px;
    cursor: pointer;
}


.links{
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
    margin-top: 12px;
    margin-bottom: 37px;

}
.links p{
    color: #C1C2C4;
;
}
.links a{
    text-decoration: none;
    color: white;
    font-weight: 600;
}

.button-submit{
    text-align: center;
    font-size: 16px;
    line-height: 140%;
    color: white;
    width: 449px;
    height: 50px;
    border-radius: 25px;
    border-width: 0.58px;
    padding-top: 14px;
    padding-right: 20px;
    padding-bottom: 14px;
    padding-left: 10px;
    border: 0.58px solid #E7E3FC3B;
    background-color:  transparent;
}

.atau {
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
    text-align: center; 
    color: #9D9EA1;
    margin-top: 8px;
    margin-bottom: 8px;
}
.button-google img{
    width: 15px;
}
.button-google{
    align-items: center;
    font-size: 16px;
    line-height: 140%;
    color: white;
    width: 449px;
    height: 50px;
    border-radius: 25px;
    border-width: 0.58px;
    padding-top: 14px;
    padding-right: 20px;
    padding-bottom: 14px;
    padding-left: 20px;
    border: 0.58px solid #E7E3FC3B;
    background-color:  transparent;
}



button:hover{
    cursor: pointer;
    background-color: #3D4142;

}


}

@media only screen and (max-width: 959px){
.body-signin{
    background-size: cover;
    background-position: center;
    font-family: 'Lato', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    color: white;
    background-image: url(/assets/background.jpg);
    background-size: cover;
    background-position: center;
    
}

.body-signup{
    background-size: cover;
    background-position: center;
    font-family: 'Lato', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    color: white;
    background-image: url(/assets/background-signup.jpg);
    background-size: cover;
    background-position: center;
    
}

.container{
    width: 306px;
    padding: 24px;
    border-radius: 8px;
    background-color: #181A1CD6;
}

.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 94px;
    height: 24px;
    margin-bottom: 20px;

}

.header h1{
    font-size: 18px;
    font-weight:400;
    line-height: 140%;
}

.header p{
    font-size: 10px;
    font-weight: 400;
    line-height: 140%;
    margin-bottom: 20px;
}

.form-input{
    display: flex;
    flex-direction: column;
    position: relative
}

.form-input .username{
    font-size: 10px;
    font-weight: 500;
    line-height: 140%;
    margin-bottom: 3.47px;
}

.form-input .input-username{
    width: 260px;
    height: 28px;
    font-size: 10px;
    font-weight: 500;
    line-height: 140%;
    border-radius: 12px;
    padding-top: 8.09px;
    padding-right: 11.55px;
    padding-bottom: 8.09px;
    padding-left: 11.55px;
    border: 0.58px solid;
    border-color: hsla(250, 81%, 94%, 0.217);
    background-color: transparent;
    color: white;
} 

.form-input .form-password{
    margin-top: 20px;
}

.form-input .password{
    font-size: 10px;
    font-weight: 500;
    line-height: 140%;

}

.form-input .input-password{
    width: 260px;
    height: 28px;
    font-size: 10px;
    font-weight: 500;
    line-height: 140%;
    border-radius: 12px;
    padding-top: 8.09px;
    padding-right: 11.55px;
    padding-bottom: 8.09px;
    padding-left: 11.55px;
    border: 0.58px solid;
    border-color: hsla(250, 81%, 94%, 0.217);
    background-color: transparent;
    color: white;
    margin-top: 3.47px;
} 

.form-input .password-again{
    font-size: 10px;
    font-weight: 500;
    line-height: 140%;
}

.form-input .input-password-again{
    width: 260px;
    height: 28px;
    font-size: 10px;
    font-weight: 500;
    line-height: 140%;
    border-radius: 12px;
    padding-top: 8.09px;
    padding-right: 11.55px;
    padding-bottom: 8.09px;
    padding-left: 11.55px;
    border: 0.58px solid;
    border-color: hsla(250, 81%, 94%, 0.217);
    background-color: transparent;
    color: white;
    margin-top: 3.47px;
    
} 
.eye-password{
    position: absolute;
    right: 12px;
    bottom: 7px;
    cursor: pointer;
}

.eye-password-again{
    position: absolute;
    right: 12px;
    bottom: 77px;
    cursor: pointer;
}


.links{
    display: flex;
    justify-content: space-between;
    font-size: 10px;
    font-weight: 400;
    line-height: 140%;
    margin-top: 6.93px;
    margin-bottom: 20px;

}
.links p{
    color: #C1C2C4;
;
}
.links a{
    text-decoration: none;
    color: white;
    font-weight: 600;
}

.button-submit{
    font-size: 10px;
    line-height: 140%;
    color: white;
    width: 258px;
    height: 30px;
    border-radius: 13.86px;
    border-width: 0.58px;
    padding-top: 8.09px;
    padding-right: 11.55px;
    padding-bottom: 8.09px;
    padding-left: 11.55px;
    border: 0.58px solid #E7E3FC3B;
    background-color:  transparent
}

.atau {
    font-weight: 500;
    font-size: 10px;
    line-height: 140%;
    text-align: center; 
    color: #9D9EA1;
    margin-top: 4px;
    margin-bottom: 4px;
}

.button-google{
    color: white;
    font-size: 10px;
    line-height: 140%;
    width: 258px;
    height: 30px;
    border-radius: 13.86px;
    border-width: 0.58px;
    padding-top: 8.09px;
    padding-right: 11.55px;
    padding-bottom: 8.09px;
    padding-left: 11.55px;
    border: 0.58px solid #E7E3FC3B;
    background-color:  transparent
}

.button-google img{
    width: 10px;
    height: 10px;
}

button:hover{
    cursor: pointer;
    background-color: #3D4142;

}
}